@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 10, 20, 40;
  /* Dark Blue */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(135deg,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb)));
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .glass {
    @apply bg-black/40 backdrop-blur-xl border border-white/10;
  }

  .glass-card {
    @apply bg-gradient-to-br from-gray-900/80 to-black/80 backdrop-blur-lg border border-white/10 shadow-xl;
  }
}